

/* ---------------- Container ----------------------------- */
.article {
  padding-left: 24px;
  padding-right: 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1080px;
  }
}
/* ----- dropdown menu ------ */

@media (max-width: 991.98px) {
  .navbar-nav {
     position: absolute;
     width: 500px;
     height: 500px;
     background-color: #fff;
     z-index: 9999;
     cursor: default;
     font-size: 18px;
     line-height: 1.66667;
     color: #484848;
     padding: 80px 24px 24px;
     overflow: auto;
   }
   .menu_item {
     display: block;
     color: #484848;
     text-align: left;
   }

}


/* ----------------- header Nav bar--------------- */

.page_header {
  position: relative;
  height: 76px;
  padding: 0 32px;
  border-bottom: 1px solid #ebebeb;
  /* z-index: 2; */
}

.heading_logo {
  height: 34px;
  width: 32px;
  float: left;
  margin-top: 21px;
  margin-right: 24px;
  background-image: url(./images/iconfinder_11_Airbnb_logo_logos_4373300.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 38px auto;
}

.site_heading {
  font-size: 16px;
  line-height: 1.375;
  float: left;
  display: block;
  margin-top: 15px;
  padding: 12px 0;
  color: #484848;
}

h2 {
  margin-top: 24px;
  margin-bottom: 36px;
}

.navbar-toggler {
  margin-top: 12px;
  font-size: 16px;
}


.header_menu_nav {
  margin-top: 30px;
  margin-left: 40px;
  padding: 12px 0;
  color: #484848;
  font-size: 16px;
}


.menu_item {
  display: block;
  color: #484848;
  align-items: center;
  text-align: center;
}


.menu_text {
  margin-right: 30px;
}

.menu_globe {
  margin-right: 5px;
  margin-left: 50px;
  margin-top: 5px;
}


.fa-chevron-down {
  margin-left: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.text-indented {
  margin-left: 24px;
}

.menu_search {
  margin-left: 50px;
  margin-right: 30px;
}

/* ------------ first section ------------------ */

@media (min-width: 697px) {
  .first_section {
    margin-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 696.98px) {
  .first_section {
    margin-bottom: 32px;
  }
}

.first_section {
  margin-top: 24px;
}

time, .article_tag {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
}

.article_tag {
  color: #008489;
}

.first_section_article_heading {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.375;
  margin-bottom: 32px;
  color: #484848;
}

.article_summary {
  font-size: 18px;
  line-height: 1.66667;
  color: #484848;
}

/* ---- second section ------- */
@media (min-width: 697px) {
  .second_section, .third_section {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 64px;
    padding-top: 64px;
    border-top: 1px solid #ebebeb;
  }
  .left_article, .center_article {
    border-right: 1px solid #ebebeb;
  }
}

@media (max-width: 696.98px) {
  .second_section, .third_section {
    margin-bottom: 32px;
  }
  .left_article, .center_article, .right_article {
    padding-top: 32px;
    border-top: 1px solid #ebebeb;
  }
}

.second_section_article_heading, .third_section_article_heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #484848;
}


/* ----- thrid section -------- */


/* ------------ footer ------------- */
.footer_main, .footer_secondary {
  border-top: 1px solid rgb(235,235,235);
  margin-top: 24px;
  margin-bottom: 48px;
  padding-top: 24px;

}


.footerNav h5, .footerNav a {
  font-size: 14px;
}
.footerNav h5 {
  line-height: 18px;
}

.footerBar small {
  font-size: 14px;
}

.textNav {
  font-weight: 200;
}

@media (max-width: 697px) {
  .footerNav {
  display: none;
  }
}

@media (min-width: 697px) {
  .col-md-5 {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }
  .col-md-7 {
    flex: 0 0 58.333%;
    max-width: 58.333%;
  }
  .footer_disclaimer_mobile {
  display: none;
  }
}


.footer_airbnb {
  font-size: 14px;
  line-height: 1.28571;
  display: inline-block;
  position: relative;
  bottom: 5px;
  font-weight: 500;
}


.footer_disclaimer_mobile {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.28571;
  font-weight: 200;
}

.footer_secondary_socialmedia {
  text-align: right;
  line-height: 1.66667;

}

.footer_secondary_terms {
  position: relative;
  display: inline-block;
  margin: 0 0 0 12px;
  bottom: 8px;
}


.footer_secondary_logo {
  position: relative;
  display: inline-block;
  margin: 0 0 0 12px;
  bottom: 8px;
}

.footer_airbnb_logo {
  font-size: 25px;
}

.footer_socialmedia_logo {
  font-size: 20px;
}
